.training {
  width: 100%;
  padding: 100px 100px;
  @media screen and (max-width: 850px) {
    padding: 80px 20px 20px 20px;
  }
  &__wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      .imgDiv img {
        transform: scale(1.1);
      }
      .training__title {
        color: blue;
      }
    }
    @media screen and (max-width: 1187px) {
      flex-direction: column;
      height: 100%;
    }
  }
  .imgDiv {
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    aspect-ratio: 16 / 9;
    transition: all 0.3s ease;
    @media screen and (max-width: 1187px) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 0 0 15px;
      @media screen and (max-width: 1187px) {
        border-radius: 15px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .imgDiv {
      aspect-ratio: 4 / 3;
    }
  }

  &__overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  }

  &__content {
    border-radius: 0 15px 15px 0;
    width: 35%;
    background-color: #f3f5f8;
    height: 100%;
    display: flex;
    align-items: center;
    h1 {
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: blue;
      }
    }
    @media screen and (max-width: 1187px) {
      width: 100%;
      background-color: white;
      align-items: start;
    }
  }

  &__title {
    padding: 40px;
    font-size: 28px;
    font-weight: 600;
    color: #0f2145;
    line-height: 1.2;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.9);
    text-align: left;
    @media screen and (max-width: 1187px) {
      padding: 10px 0 0 0;
      font-size: 28px;
      br {
        display: none;
      }
    }
    @media screen and (max-width: 850px) {
      font-size: 16px;
    }
  }
}
