.tickets {
  padding: 120px 80px 40px;
  border: 2px solid #8c95ae82;
  display: flex;
  align-items: center;
  font-size: 40px;
  background-image: url("https://publish.realmadrid.com/content/dam/common/statics/public-content/internet/web/rm-spa-web/images/header/logo-bg-right.app.svg?$Mobile$&fit=wrap");
  background-repeat: no-repeat;
  background-position: right;
}
